<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>
            <h5 th:text="${partner.id}"></h5>
        </td>
        <td>
            <h5 th:text="${partner.partnerName}"></h5>
        </td>
        <td>
            <h5 th:text="${partner.address}"></h5>
        </td>
        <td>
            <h5 th:text="${partner.telNum}"></h5>
        </td>
        <td>
            <h5 th:text="${partner.email}"></h5>
        </td>
        <td>
            <h5 th:text="${partner.companyRegNum}"></h5>
        </td>
        <td>
            <h5 th:text="${partner.taxNum}"></h5>
        </td>
        <td>
            <ul>
                <li th:each="actual : ${partner_admin}">
                    <p th:text="${actual.name}"></p>
                    <p th:text="${actual.posRank}"></p>
                    <p th:text="${actual.telNumber}"></p>
                    <a th:href="@{'/partner-admin/update/' + ${actual.id}}">
                        <button class="btn btn-info">Update</button>
                    </a>
                    <a th:href="@{'/partner-delete/delete/' + ${actual.id}}">
                        <button class="btn btn-info">Delete</button>
                    </a>
                </li>
            </ul>
        </td>
        <td>

        </td>
    </tr>
    </thead>
</table>
</body>
</html>