<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<table>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">StayMate</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="home.html">Kezdőlap <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="partner.html">Partnerek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Kapcsolat</a>
                </li>
            </ul>
        </div>
    </nav>
    <thead>
    <tr>
        <td>
            <h5 th:text="${partner.id}"></h5>
        </td>
        <td>
            <h5 th:text="${partner.partnerName}"></h5>
        </td>
        <td>
            <h5 th:text="${partner.address}"></h5>
        </td>
        <td>
            <h5 th:text="${partner.telNum}"></h5>
        </td>
        <td>
            <h5 th:text="${partner.email}"></h5>
        </td>
        <td>
            <h5 th:text="${partner.companyRegNum}"></h5>
        </td>
        <td>
            <h5 th:text="${partner.taxNum}"></h5>
        </td>
        <td>
            <ul>
                <li th:each="actual : ${partner_admin}">
                    <p th:text="${actual.name}"></p>
                    <p th:text="${actual.posRank}"></p>
                    <p th:text="${actual.telNumber}"></p>
                    <a th:href="@{'/partner-admin/update/' + ${actual.id}}">
                        <button class="btn btn-info">Update</button>
                    </a>
                </li>
            </ul>
        </td>
        <td>

        </td>
    </tr>
    </thead>
</table>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>