<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="'/partner-admin/update/'+${partner_admin.id}">

    <input type="hidden" th:value="${partner_admin.partner.id}" th:field="*{partner_admin.partner.id}">

    <input type="hidden" th:value="${partner_admin.id}" th:field="*{partner_admin.id}">

    <label for="name">Name</label>
    <input type="text" id="name" th:placeholder="${partner_admin.name}" th:field="*{partner_admin.name}">

    <label for="birthplace">Birthplace</label>
    <input type="text" id="birthplace" th:placeholder="${partner_admin.posRank}" th:field="*{partner_admin.posRank}">

    <label for="telnum">telnum</label>
    <input type="number" id="telnum" th:placeholder="${partner_admin.telNumber}" th:field="*{partner_admin.telNumber}">

    <button type="submit">Update</button>
</form>
</body>
</html>