<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" th:action="'/partner/update/'+${partner.id}">

  <input type="hidden" th:value="${partner.id}" th:field="*{partner.id}">

  <label for="name">Name</label>
  <input type="text" id="name" th:placeholder="${partner.partnerName}" th:field="*{partner.partnerName}">

  <label for="address">address</label>
  <input type="text" id="address" th:placeholder="${partner.address}" th:field="*{partner.address}">

  <label for="telnum">telnum</label>
  <input type="number" id="telnum" th:placeholder="${partner.telNum}" th:field="*{partner.telNum}">

  <label for="email">e-Mail</label>
  <input type="text" id="email" th:placeholder="${partner.email}" th:field="*{partner.email}">

  <label for="compregnum">compregnum</label>
  <input type="number" id="compregnum" th:placeholder="${partner.companyRegNum}" th:field="*{partner.companyRegNum}">

  <label for="taxnum">taxnum</label>
  <input type="text" id="taxnum" th:placeholder="${partner.telNum}" th:field="*{partner.taxNum}">

  <button type="submit" class="btn btn-success">Update</button>
</form>
</body>
</html>