<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">StayMate</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="home.html">Kezdőlap <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="partner.html">Partnerek</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.html">Kapcsolat</a>
      </li>
    </ul>
  </div>
</nav>

<form method="post" th:action="'/partner/update/'+${partner.id}">

  <input type="hidden" th:value="${partner.id}" th:field="*{partner.id}">

  <label for="name">Name</label>
  <input type="text" id="name" th:placeholder="${partner.partnerName}" th:field="*{partner.partnerName}">

  <label for="address">address</label>
  <input type="text" id="address" th:placeholder="${partner.address}" th:field="*{partner.address}">

  <label for="telnum">telnum</label>
  <input type="number" id="telnum" th:placeholder="${partner.telNum}" th:field="*{partner.telNum}">

  <label for="email">e-Mail</label>
  <input type="text" id="email" th:placeholder="${partner.email}" th:field="*{partner.email}">

  <label for="compregnum">compregnum</label>
  <input type="number" id="compregnum" th:placeholder="${partner.companyRegNum}" th:field="*{partner.companyRegNum}">

  <label for="taxnum">taxnum</label>
  <input type="text" id="taxnum" th:placeholder="${partner.telNum}" th:field="*{partner.taxNum}">

  <button type="submit" class="btn btn-success">Update</button>
</form>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>