<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Hotel Bar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Profile</a>
        <a class="navbar-brand active" th:href="@{'/hotels/' + ${updated_hotel_bar.id} +'/'+${updated_hotel_bar.partner.id}}">Hotel</a>
        <a class="navbar-brand" th:href="@{/contact}">Contact Us</a>
        <form class="navbar-brand" th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-link">LogOut</button>
        </form>
    </div>
</nav>

<div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/hotel-bar}">Update Hotel Bar</a>
        </li>
    </ul>
</div>

<br>
<br>
<div class="container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Update Hotel </h1>
            <div class = "card-body">
    <form method="post" th:action="@{'/hotel-bar/create/' + ${updated_hotel_bar.hotel.id} + '/' + ${updated_hotel_bar.partner.id}}">

        <input type="hidden" th:value="${updated_hotel_bar.hotel.id}" th:field="*{updated_hotel_bar.hotel.id}">

        <input type="hidden" th:value="${updated_hotel_bar.partner.id}" th:field="*{updated_hotel_bar.partner.id}">

        <input type="hidden" th:value="${updated_hotel_bar.id}" th:field="*{updated_hotel_bar.id}">

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" th:field="*{updated_hotel_bar.name}">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" placeholder="Description" th:field="*{updated_hotel_bar.description}">
        </div>

        <div class = "box-footer">
            <button type="submit" class = "btn btn-primary">
                Submit
            </button>
        </div>
             </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
