<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

        <a class="navbar-brand active" th:href="@{/}">Profile</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" th:href="@{/partner/all}">Partners</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" th:href="@{/contact}">Contact Us</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
</nav>
<body>
<form method="post" th:action="'/partner-admin/add/'+${partnerId}">

    <input type="hidden" th:field="*{new_partner_admin.partner.id}">

    <input type="hidden" th:field="*{new_partner_admin.id}">

    <label for="name">Name</label>
    <input type="text" id="name" th:field="*{new_partner_admin.name}"><br>

    <label for="birthplace">Position</label>
    <input type="text" id="birthplace" th:field="*{new_partner_admin.posRank}"><br>

    <label for="telnum">Phone</label>
    <input type="text" id="telnum" th:field="*{new_partner_admin.telNumber}"><br>

    <button type="submit" class="btn btn-primary">Add Admin</button><br>
</form>
</body>
</html>