<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <meta charset="ISO-8859-1">
    <title>Hotel Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

        <a class="navbar-brand active" th:href="@{/}">Profile</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="/">Partner Management System</a>

            <a class="navbar-brand" th:href="@{/partner/all}">Partners</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" th:href="@{/contact}">Contact Us</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/partner}">Partner Management</a>
                    </li>
                    <!--            <li class="nav-item">-->
                    <!--                <a class="nav-link" th:href="@{/}"> Management</a>-->
                    <!--            </li>-->
                </ul>
            </div>
        </nav>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>PARTNER</th>
            </tr>
            </thead>
            <tr th:each="actual :${all_partners}">
                <td th:text="${actual.id}"></td>
                <td th:text="${actual.partnerName}"></td>
            </tr>
        </table>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <div class="container">
            <div class="row">
                <h1> List Students </h1>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <a th:href="@{/partner/create}" class="btn btn-primary btn-sm mb-3"> Add Partner</a>
                </div>
            </div>
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>PARTNER</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="actual :${all_partners}">
                    <td th:text="${actual.id}"></td>
                    <td th:text="${actual.partnerName}"></td>
                </tr>
                <td>
                    <a th:href="@{/partner/{id}/update(id=${actual.id})}"
                       class="btn btn-primary">Update</a>

                    <a th:href="@{/partner/{id}/delete(id=${partner.id})}"
                       class="btn btn-danger">Delete</a>

                </td>

                </tbody>

            </table>

        </div>
    </div>
</nav>
</body>
</html>

