<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update Partner</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand active" th:href="@{/}">Profile</a>
    <a class="navbar-brand" th:href="@{/partner/all}">Partners</a>
    <a class="navbar-brand" th:href="@{/contact}">Contact Us</a>
    <form class="navbar-brand" th:action="@{/logout}" method="post">
      <button type="submit" class="btn btn-link">LogOut</button>
    </form>
  </div>
</nav>
<div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" th:href="@{/partner}">Update Partner</a>
    </li>
  </ul>
</div>

<br>
<br>
<div class = "container">
  <div class = "row">
    <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <h1 class = "text-center"> Update Partner </h1>
      <div class = "card-body">
<form method="post" th:action="@{'/partner/' +${partner.id} + '/update'}">

  <input type="hidden" th:value="${partner.id}" th:field="*{partner.id}">

  <div class="form-group">
  <label for="name">Name</label>
  <input type="text" id="name" th:placeholder="${partner.partnerName}" th:field="*{partner.partnerName}"><br>
  </div>

  <div class="form-group">
  <label for="address">Address</label>
  <input type="text" id="address" th:placeholder="${partner.address}" th:field="*{partner.address}"><br>
  </div>

  <div class="form-group">
  <label for="telnum">Telnum</label>
  <input type="number" id="telnum" th:placeholder="${partner.telNum}" th:field="*{partner.telNum}"><br>
  </div>

  <div class="form-group">
  <label for="password">Password</label>
  <input type="password" id="password" placeholder="********" th:field="*{partner.password}" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required
         oninvalid="this.setCustomValidity('- must contains min. one digit\n- one lowercase & uppercase letter\n- minimum of 8 characters long.')"
         oninput="this.setCustomValidity('')"><br>
  </div>

  <div class="form-group">
  <label for="email">e-Mail</label>
  <input type="text" id="email" th:placeholder="${partner.email}" th:field="*{partner.email}"><br>
  </div>

  <div class="form-group">
  <label for="compregnum">compregnum</label>
  <input type="number" id="compregnum" th:placeholder="${partner.companyRegNum}" th:field="*{partner.companyRegNum}"><br>
  </div>

  <div class="form-group">
  <label for="taxnum">taxnum</label>
  <input type="text" id="taxnum" th:placeholder="${partner.telNum}" th:field="*{partner.taxNum}"><br>
  </div>

  <div class = "box-footer">
    <button type="submit" class = "btn btn-primary">
      Submit
    </button>
  </div>
</form>
      </div>
    </div>
  </div>
</div>
</body>
</html>