<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

        <a class="navbar-brand active" th:href="@{/}">Profile</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" th:href="@{/partner/all}">Partners</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" th:href="@{/contact}">Contact Us</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
</nav>
<body>
<table>
    <thead>
    <tr>
        <td>Name</td>
        <td>Position</td>
        <td>Phone number</td>
    </tr>
    </thead>
    <tr>
        <td>
            <h5 th:text="${partner_admin.name}"></h5>
        </td>
        <td>
            <h5 th:text="${partner_admin.posRank}"></h5>
        </td>
        <td>
            <h5 th:text="${partner_admin.telNumber}"></h5>
        </td>
    </tr>

</table>
<form th:action="@{'/partner-admin/delete/' + ${partner_admin.id}}" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="btn btn-danger">Delete Admin</button>
</form>
</body>
</html>