<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

        <a class="navbar-brand active" th:href="@{/}">Profile</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand active" th:href="@{'/restaurants/' + ${updated_restaurant.id}}">Restaurant</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>



        <form class="navbar-brand" th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-link">LogOut</button>
        </form>

    </div>
</nav>
<body>
<form th:action="@{'/restaurants/'+${updated_restaurant.id} +'/update'}" method="post">

    <input type="hidden" th:value="${updated_restaurant.id}" th:field="*{updated_restaurant.partner.id}">

    <label for="name">Name</label>
    <input type="text" id="name" th:placeholder="${updated_restaurant.name}" th:field="*{updated_restaurant.name}">

    <label for="description">Description:</label>
    <input type="text" id="description" th:placeholder="${updated_restaurant.description}" th:field="*{updated_restaurant.description}">

    <button type="submit" class="btn btn-success">Update</button>
</form>
</body>
</html>