<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">StayMate</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/home.html}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/partner-list}">Partners</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/new-partner-form}">Add new partner</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/new-partner-admin-form}">Add new partner admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/partner-admin}">Partner Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/partner-update.html}">Update partner</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/partner-admin-update.html}">Update partner admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/hotels/all}">Hotels</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/contact}">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/hotels/create}">Add hotel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/hotels/update}">Update Hotels</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/facilities-list}">Facilities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/facilities-update.html}">Update Facilities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/new-facilities-form.html}">Add facilities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/new-restaurant-form.html}">Add restaurant</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/restaurant-list}">Restaurant</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/bar-list.html}">Bar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/new-bar-form.html}">Add bar</a>
      </li>


    </ul>
  </div>
</nav>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Facilities</th>
  </tr>
  </thead>
  <tr th:each="actual :${all_services}">
    <td th:text="${actual.id}"></td>
    <td th:text="${actual.name}"></td>
  </tr>
</table>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>