<!DOCTYPE html>
<html>
<head>
  <title>Szálloda hozzáadása</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">StayMate</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="home.html">Kezdőlap <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="hotel-list.html">Hotels</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact US</a>
      </li>
    </ul>
  </div>
</nav>
<h1>Add new services</h1>
<form action="/hotels" method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required><br><br>

  <label for="description">Description:</label>
  <textarea id="description" name="description" rows="4" required></textarea><br><br>

  <label for="pricePerNight">Price:</label>
  <input type="number" id="pricePerNight" name="pricePerNight" step="0.01" required><br><br>

  <input type="submit" value="Save">
</form>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
