<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <a class="navbar-brand active" th:href="@{/}">Profile</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" th:href="@{/bars/all}">Bars</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" th:href="@{/contact}">Contact Us</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</nav>
<form method="post" th:action="@{/bars/create}" >

  <input type="hidden" th:value="${new_bar.id}" th:field="*{new_bar.id}">

  <label for="name">Name</label>
  <input type="text" id="name" placeholder="Name:" th:field="*{new_bar.name}">

  <label for="description">Description</label>
  <input type="text" id="description" placeholder="description:" th:field="*{new_bar.description}">



  <button type="submit">Ready</button>
</form>
</body>
</html>